name: APP

on: push

jobs:
   tests:
     runs-on: ubuntu-latest
     steps:
       - name: Checkout
         uses: actions/checkout@v2
       - name: Composer
         uses: php-actions/composer@v5
       - name: Running tests
         uses: php-actions/phpunit@v3
         with:
           version: 9.5
   lint:
     runs-on: ubuntu-latest
     steps:
       - uses: actions/checkout@v1
       - uses: michaelw90/PHP-Lint@master         
   build:
     runs-on: ubuntu-latest
     needs: [tests, lint]     

     steps:
       - uses: actions/checkout@v2
       - uses: actions/setup-node@v1    
         with:
           node-version: 8
       - run: npm install
       - run: npm run build 
       - run: cp CHANGELOG.md src/plugins/woocommerce-plug-payments/CHANGELOG.md
       - run: cd src/plugins/ && zip -r ../../woocommerce-plug-payments.zip woocommerce-plug-payments
       - uses: actions/upload-artifact@v1
         with:
           name: woocommerce-plug-payments
           path: ${{ github.workspace }}/src/plugins/                  